<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control", rows: '5' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.collection_select(:status_id, Status.all, :id, :description, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group align-content-center">
    <div class="row">
      <div class="col-md-6">
        <%= form.submit class: "btn btn-primary btn-block"  %>
      </div>
      <div class="col-md-6">
        <%= button_tag "Close", class:"btn btn-secondary  btn-block" , data: { dismiss:'modal' } %>
      </div>
    </div>
  </div>
<% end %>
