<div class="container">
  <h2>Tasks</h2>
  <p>The following table contains all the tasks currently in the system.</p>
  <p id="notice"><%= notice %></p>

  <div class="m-4">
    <div class="m-auto col-md-6 p-0">
      <%= form_tag(tasks_path, method: :get, remote: true) do %>
        <div class="input-group">
          <%= text_field_tag :term, params[:term], class: "form-control", placeholder: "Search task..." %>
          <span class="input-group-btn">
          <%= submit_tag 'Search', class: "btn btn-default", name: nil %>
            </span>
        </div>
      <% end %>
    </div>
  </div>

  <div id="task-table">
    <%= render 'tasks/table', tasks: @tasks %>
  </div>

</div>