<% statuses.each do |status| %>
  <div class="card mb-4 box-shadow h-100">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"><%= status.description %></h4>
    </div>
    <div class="card-body" id="cards-with-status-<%= status.id %>">
      <% status.tasks.each do |task| %>
        <div class="card " id="<%= task.id %>" style="margin-bottom: 20px;">
          <div class="card-body">
            <button type="button" class="close" data-dismiss="modal">
              <%= link_to task, remote: true, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </button>
            <h5 class="card-title"><%= task.title %></h5>
            <p class="card-text"><%= task.body %></p>

            <div class="text-center">
              <%= link_to task_url(task, task: {status_id: 1}), remote: true, method: :put, class: "btn-sm btn-primary m-1", hidden: show_anchors(task).first do %>
                <i class="fas fa-undo"></i> To Do
              <% end %>

              <%= link_to task_url(task, task: {status_id: 2}), remote: true, method: :put, class: "btn-sm btn-secondary m-1", hidden: show_anchors(task).second do %>
                <i class="fas fa-thumbtack"></i> Doing
              <% end %>

              <%= link_to task_url(task, task: {status_id: 3}), remote: true, method: :put, class: "btn-sm btn-success m-1", hidden: show_anchors(task).third do %>
                <i class="fas fa-check-double"></i> Done
              <% end %>

              <%= link_to task, class: "btn-sm btn-secondary", remote: true do %>
                <i class="fas fa-info"></i> Details
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<script>
    $('.clickable-card').on('click', function(event) {
        $('#show-'+this.getAttribute("id"))[0].click();
    });
</script>

